@tailwind base;
@tailwind components;
@tailwind utilities;

.mi-fuente-personalizada {
  font-family: var(--font-mi-fuente);
}


.mi-fuente-personalizada2 {
  font-family: var(--font-mi-fuente2);
}

.form-container {
  margin-top: 4rem; /* Valor por defecto */
}

@media (max-width: 640px) {
  .form-container {
    margin-top: 6rem; /* Ajusta para pantallas pequeñas */
  }
}
#tienda {
  margin: 0;
  padding: 0;
  margin-left: 15px;
}
